## Import useful libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

from sklearn.metrics import root_mean_squared_error
from sklearn.preprocessing import LabelEncoder

seed = 42

## Load the data and visualize it

In [2]:
data = pd.read_csv('train.csv')
data_test = pd.read_csv('test.csv')

In [3]:
data.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,MINI,Cooper S Base,2007,213000,Gasoline,172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel,A/T,Yellow,Gray,None reported,Yes,4200
1,1,Lincoln,LS V8,2002,143250,Gasoline,252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel,A/T,Silver,Beige,At least 1 accident or damage reported,Yes,4999
2,2,Chevrolet,Silverado 2500 LT,2002,136731,E85 Flex Fuel,320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...,A/T,Blue,Gray,None reported,Yes,13900
3,3,Genesis,G90 5.0 Ultimate,2017,19500,Gasoline,420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,45000
4,4,Mercedes-Benz,Metris Base,2021,7388,Gasoline,208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,Black,Beige,None reported,Yes,97500

In [4]:
print(f"Training set: \t{data.shape[0]} rows \t{data.shape[1]} columns")
print(f"Test set: \t{data_test.shape[0]} rows \t{data_test.shape[1]} columns")

Training set: 	188533 rows 	13 columns
Test set: 	125690 rows 	12 columns

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188533 entries, 0 to 188532
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            188533 non-null  int64
 1   brand         188533 non-null  object
 2   model         188533 non-null  object
 3   model_year    188533 non-null  int64
 4   milage        188533 non-null  int64
 5   fuel_type     183450 non-null  object
 6   engine        188533 non-null  object
 7   transmission  188533 non-null  object
 8   ext_col       188533 non-null  object
 9   int_col       188533 non-null  object
 10  accident      186081 non-null  object
 11  clean_title   167114 non-null  object
 12  price         188533 non-null  int64
dtypes: int64(4), object(9)
memory usage: 18.7+ MB

In [6]:
data.describe(include='object')

,brand,model,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title
count,188533,188533,183450,188533,188533,188533,188533,186081,167114
unique,57,1897,7,1117,52,319,156,2,1
top,Ford,F-150 XLT,Gasoline,355.0HP 5.3L 8 Cylinder Engine Gasoline Fuel,A/T,Black,Black,None reported,Yes
freq,23088,2945,165940,3462,49904,48658,107674,144514,167114

In [7]:
data.isnull().sum()

id                  0
brand               0
model               0
model_year          0
milage              0
fuel_type        5083
engine              0
transmission        0
ext_col             0
int_col             0
accident         2452
clean_title     21419
price               0
dtype: int64

Replace '-' with 'Electric' because electric is mentioned in the "Data card" of the dataset and it is not in the values, so it must be the '-'

In [8]:
print('Fuel types pre processing:', data['fuel_type'].unique())

data['fuel_type'] = data['fuel_type'].fillna('Unknown')
data['fuel_type'] = data['fuel_type'].replace('–', 'Electric')

print('Fuel types post processing:', data['fuel_type'].unique())

data_test['fuel_type'] = data_test['fuel_type'].fillna('Unknown')
data_test['fuel_type'] = data_test['fuel_type'].replace('–', 'Electric')

Fuel types pre processing: ['Gasoline' 'E85 Flex Fuel' nan 'Hybrid' 'Diesel' 'Plug-In Hybrid' '–'
 'not supported']
Fuel types post processing: ['Gasoline' 'E85 Flex Fuel' 'Unknown' 'Hybrid' 'Diesel' 'Plug-In Hybrid'
 'Electric' 'not supported']

In [9]:
print('Accidents pre processing:', data['accident'].unique())

data['accident'] = data['accident'].fillna('Unknown')

print('Accidents post processing:', data['accident'].unique())

data_test['accident'] = data_test['accident'].fillna('Unknown')

Accidents pre processing: ['None reported' 'At least 1 accident or damage reported' nan]
Accidents post processing: ['None reported' 'At least 1 accident or damage reported' 'Unknown']

In [10]:
print('Clean title pre processing:', data['clean_title'].unique())

data['clean_title'] = data['clean_title'].fillna('Unknown')

print('Clean title post processing:', data['clean_title'].unique())

data_test['clean_title'] = data_test['clean_title'].fillna('Unknown')

Clean title pre processing: ['Yes' nan]
Clean title post processing: ['Yes' 'Unknown']

In [11]:
print('TRAIN SET:')
print(data.isnull().sum())
print('\nTEST SET:')
print(data_test.isnull().sum())

TRAIN SET:
id              0
brand           0
model           0
model_year      0
milage          0
fuel_type       0
engine          0
transmission    0
ext_col         0
int_col         0
accident        0
clean_title     0
price           0
dtype: int64

TEST SET:
id              0
brand           0
model           0
model_year      0
milage          0
fuel_type       0
engine          0
transmission    0
ext_col         0
int_col         0
accident        0
clean_title     0
dtype: int64

In [12]:
label_columns = ['brand', 'model', 'fuel_type', 'ext_col', 'int_col', 'accident', 'clean_title']
encoders = {col: LabelEncoder() for col in label_columns}

for col in label_columns:
    data[col] = encoders[col].fit_transform(data[col])
    data_test[col] = encoders[col].fit_transform(data_test[col])

data.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,31,495,2007,213000,3,172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel,A/T,312,71,1,1,4200
1,1,28,930,2002,143250,3,252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel,A/T,263,10,0,1,4999
2,2,9,1575,2002,136731,1,320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...,A/T,38,71,1,1,13900
3,3,16,758,2017,19500,3,420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,29,14,1,1,45000
4,4,36,1077,2021,7388,3,208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,29,10,1,1,97500

## Other feature extraction

In [13]:
def vehicle_age(df):
    current_year = 2024

    df['vehicle_age'] = current_year - df['model_year']
    df = df.drop(columns=['model_year'])

    return df

data = vehicle_age(data)
data_test = vehicle_age(data_test)

In [14]:
def engine_info(engine_total):
    HP_str = re.search(r'(\d+\.?\d*)HP', engine_total)
    size_str = re.search(r'(\d+\.?\d*)L', engine_total)
    cylinder_str = re.search(r'(\d+) Cylinder', engine_total)

    HP = float(HP_str.group(1)) if HP_str else None
    size = float(size_str.group(1)) if size_str else None
    cylinder = int(cylinder_str.group(1)) if cylinder_str else None

    return HP, size, cylinder

data[['HP', 'engine_size', 'cylinders']] = data['engine'].apply(lambda x: pd.Series(engine_info(x)))
data_test[['HP', 'engine_size', 'cylinders']] = data_test['engine'].apply(lambda x: pd.Series(engine_info(x)))

data = data.drop(columns=['engine'])
data_test = data_test.drop(columns=['engine'])

data.head()

,id,brand,model,milage,fuel_type,transmission,ext_col,int_col,accident,clean_title,price,vehicle_age,HP,engine_size,cylinders
0,0,31,495,213000,3,A/T,312,71,1,1,4200,17,172.0,1.6,4.0
1,1,28,930,143250,3,A/T,263,10,0,1,4999,22,252.0,3.9,8.0
2,2,9,1575,136731,1,A/T,38,71,1,1,13900,22,320.0,5.3,8.0
3,3,16,758,19500,3,Transmission w/Dual Shift Mode,29,14,1,1,45000,7,420.0,5.0,8.0
4,4,36,1077,7388,3,7-Speed A/T,29,10,1,1,97500,3,208.0,2.0,4.0

In [15]:
data_transmission = pd.DataFrame(data['transmission'].unique().tolist(), columns=['Transmission'])

# Feature 1: Extract the number of gears
data_transmission['speed'] = data_transmission['Transmission'].apply(lambda x: re.search(r'\d+', x).group() if re.search(r'\d+', x) else None)

# Feature 2: Identify transmission type (automatic, manual, CVT)
data_transmission['transmission_type'] = data_transmission['Transmission'].apply(lambda x: 'Automatic' if 'A/T' in x or 'Automatic' in x or 'CVT' in x else 'Manual' if 'M/T' in x or 'Manual' in x else 'Other')

# # Feature 3: Special modes
# df_transmission['Dual_Shift_Mode'] = df_transmission['Transmission'].apply(lambda x: 1 if 'Dual Shift Mode' in x else 0)
# df_transmission['Auto_Shift'] = df_transmission['Transmission'].apply(lambda x: 1 if 'Auto-Shift' in x else 0)

data = pd.concat([data, data_transmission[['speed', 'transmission_type']]], axis=1)


data_test_transmission = pd.DataFrame(data_test['transmission'].unique().tolist(), columns=['Transmission'])

# Feature 1: Extract the number of gears
data_test_transmission['speed'] = data_test_transmission['Transmission'].apply(lambda x: re.search(r'\d+', x).group() if re.search(r'\d+', x) else None)

# Feature 2: Identify transmission type (automatic, manual, CVT)
data_test_transmission['transmission_type'] = data_test_transmission['Transmission'].apply(lambda x: 'Automatic' if 'A/T' in x or 'Automatic' in x or 'CVT' in x else 'Manual' if 'M/T' in x or 'Manual' in x else 'Other')

# # Feature 3: Special modes
# data_test_transmission['Dual_Shift_Mode'] = data_test_transmission['Transmission'].apply(lambda x: 1 if 'Dual Shift Mode' in x else 0)
# data_test_transmission['Auto_Shift'] = data_test_transmission['Transmission'].apply(lambda x: 1 if 'Auto-Shift' in x else 0)

data_test = pd.concat([data_test, data_test_transmission[['speed', 'transmission_type']]], axis=1)

In [16]:
print('HP pre processing:', data['HP'].unique())
data['HP'] = data['HP'].fillna('Unknown')
print('HP processing', data['HP'].unique())

print()

print('Engine size pre processing:', data['engine_size'].unique())
data['engine_size'] = data['engine_size'].fillna('Unknown')
print('Engine size processing', data['engine_size'].unique())

print()

print('Cylinders pre processing:', data['cylinders'].unique())
data['cylinders'] = data['cylinders'].fillna('Unknown')
print('Cylinders processing', data['cylinders'].unique())

print()

print('Speed pre processing:', data['speed'].unique())
data['speed'] = data['speed'].fillna('Unknown')
print('Speed post processing', data['speed'].unique())

print()

print('Transmission type pre processing:', data['transmission_type'].unique())
data['transmission_type'] = data['transmission_type'].fillna('Unknown')
print('Transmission type post processing', data['transmission_type'].unique())


data_test['HP'] = data_test['HP'].fillna('Unknown')
data_test['engine_size'] = data_test['engine_size'].fillna('Unknown')
data_test['cylinders'] = data_test['cylinders'].fillna('Unknown')
data_test['speed'] = data_test['speed'].fillna('Unknown')
data_test['transmission_type'] = data_test['transmission_type'].fillna('Unknown')

HP pre processing: [ 172.  252.  320.  420.  208.  333.  355.   nan  425.  312.  523.  503.
  395.  310.  469.  429.  210.  335.  316.  381.  450.  236.  211.  220.
  255.  518.  268.  174.  240.  248.  563.  241.  230.  430.  835.  300.
  280.  295.  348.  560.  285.  302.  490.  200.  416.  179.  385.  160.
  270.  350.  190.  181.  265.  345.  400.  261.  536.  402.  382.  180.
  617.  173.  389.  318.  325.  365.  340.  235.  169.  710.  225.  366.
  284.  260.  670.  480.  440.  301.  380.  616.  317.  435.  305.  471.
  443.  328.  550.  201.  276.  582.  290.  362.  184.  120.  275.  510.
  414.  375.  455.  520.  306.  292.  403.  454.  496.  166.  288.  640.
  293.  147.  263.  170.  577.  449.  296.  291.  467.  354.  283.  603.
  386.  264.  204.  215.  412.  150.  453.  140.  707.  242.  445.  410.
  500.  188.  557.  142.  199.  315.  282.  247.  182.  605.  161.  475.
  202.  349.  152.  228.  154.  383.  526.  760.  630.  212.  287.  717.
  521.  232.  444.  641.  308.  175.  542.  463.  130.  405.  460.  330.
  227.  321.  153.  379.  424.  329.  189.  485.  214.  390.  218.  311.
  115.  158.  778.  155.  360.  239.  591.  271.  272.  332.  303.  601.
  562.  133.  224.  411.  273.  482.  187.  580.  191.  245.  195.  217.
  206.  397.  278.  256.  456.  138.  409.  134.  473.  437.  540.  176.
  610.  266.  650.  600.  451.  148.  281.  759.  369.  237.  118.  575.
  394.  136.  185.  729.  788.  323.  797.  205.  534.  378.  426.  502.
  552.  156.  168.  167.  192.  250.  571.  262.  505.  286.  132.  171.
  104.  122.  326.  808.  404.  422.  401.  277.  567.  244.  353.  493.
  246.  304.  346.  470. 1020.   70.  165.  602.  186.  258.  572.  525.
  159.  107.  197.  545.  573.  231.  611.  624.  207.  370.  298.  344.
  177.  702.  203.  565.  222.  543.  143.  221.  651.  660.  162.  219.
  621.  691.  553.  146.  198.  645.  279.  106.  483.  101.  417.  109.
  131.  415.  319.  393.  324.  357.  556.  137.  342.  151.  294.  126.
  145.  372.  620.  243.  555.  141.  363.  253.  495.  533.  121.  193.
  715.  341.  178.  638.  226.  407.   76.  322.  139.  164.  111.   78.
  313.]
HP processing [172.0 252.0 320.0 420.0 208.0 333.0 355.0 'Unknown' 425.0 312.0 523.0
 503.0 395.0 310.0 469.0 429.0 210.0 335.0 316.0 381.0 450.0 236.0 211.0
 220.0 255.0 518.0 268.0 174.0 240.0 248.0 563.0 241.0 230.0 430.0 835.0
 300.0 280.0 295.0 348.0 560.0 285.0 302.0 490.0 200.0 416.0 179.0 385.0
 160.0 270.0 350.0 190.0 181.0 265.0 345.0 400.0 261.0 536.0 402.0 382.0
 180.0 617.0 173.0 389.0 318.0 325.0 365.0 340.0 235.0 169.0 710.0 225.0
 366.0 284.0 260.0 670.0 480.0 440.0 301.0 380.0 616.0 317.0 435.0 305.0
 471.0 443.0 328.0 550.0 201.0 276.0 582.0 290.0 362.0 184.0 120.0 275.0
 510.0 414.0 375.0 455.0 520.0 306.0 292.0 403.0 454.0 496.0 166.0 288.0
 640.0 293.0 147.0 263.0 170.0 577.0 449.0 296.0 291.0 467.0 354.0 283.0
 603.0 386.0 264.0 204.0 215.0 412.0 150.0 453.0 140.0 707.0 242.0 445.0
 410.0 500.0 188.0 557.0 142.0 199.0 315.0 282.0 247.0 182.0 605.0 161.0
 475.0 202.0 349.0 152.0 228.0 154.0 383.0 526.0 760.0 630.0 212.0 287.0
 717.0 521.0 232.0 444.0 641.0 308.0 175.0 542.0 463.0 130.0 405.0 460.0
 330.0 227.0 321.0 153.0 379.0 424.0 329.0 189.0 485.0 214.0 390.0 218.0
 311.0 115.0 158.0 778.0 155.0 360.0 239.0 591.0 271.0 272.0 332.0 303.0
 601.0 562.0 133.0 224.0 411.0 273.0 482.0 187.0 580.0 191.0 245.0 195.0
 217.0 206.0 397.0 278.0 256.0 456.0 138.0 409.0 134.0 473.0 437.0 540.0
 176.0 610.0 266.0 650.0 600.0 451.0 148.0 281.0 759.0 369.0 237.0 118.0
 575.0 394.0 136.0 185.0 729.0 788.0 323.0 797.0 205.0 534.0 378.0 426.0
 502.0 552.0 156.0 168.0 167.0 192.0 250.0 571.0 262.0 505.0 286.0 132.0
 171.0 104.0 122.0 326.0 808.0 404.0 422.0 401.0 277.0 567.0 244.0 353.0
 493.0 246.0 304.0 346.0 470.0 1020.0 70.0 165.0 602.0 186.0 258.0 572.0
 525.0 159.0 107.0 197.0 545.0 573.0 231.0 611.0 624.0 207.0 370.0 298.0
 344.0 177.0 702.0 203.0 565.0 222.0 543.0 143.0 221.0 651.0 660.0 162.0
 219.0 621.0 691.0 553.0 146.0 198.0 645.0 279.0 106.0 483.0 101.0 417.0
 109.0 131.0 415.0 319.0 393.0 324.0 357.0 556.0 137.0 342.0 151.0 294.0
 126.0 145.0 372.0 620.0 243.0 555.0 141.0 363.0 253.0 495.0 533.0 121.0
 193.0 715.0 341.0 178.0 638.0 226.0 407.0 76.0 322.0 139.0 164.0 111.0
 78.0 313.0]

Engine size pre processing: [1.6  3.9  5.3  5.   2.   3.   2.7  3.6   nan 6.2  4.4  4.   4.6  5.2
 3.7  5.7  6.7  3.5  2.8  5.5  5.4  6.8  3.8  2.5  3.4  2.4  3.3  2.3
 3.2  4.7  1.8  6.   4.8  5.6  4.3  4.2  1.5  6.4  8.3  6.3  2.1  1.4
 4.5  1.3  2.9  1.7  6.6  2.2  6.1  7.3  6.5  0.65 6.75 7.   1.   5.9
 8.1  5.8  1.2  8.4  8.   7.4 ]
Engine size processing [1.6 3.9 5.3 5.0 2.0 3.0 2.7 3.6 'Unknown' 6.2 4.4 4.0 4.6 5.2 3.7 5.7 6.7
 3.5 2.8 5.5 5.4 6.8 3.8 2.5 3.4 2.4 3.3 2.3 3.2 4.7 1.8 6.0 4.8 5.6 4.3
 4.2 1.5 6.4 8.3 6.3 2.1 1.4 4.5 1.3 2.9 1.7 6.6 2.2 6.1 7.3 6.5 0.65 6.75
 7.0 1.0 5.9 8.1 5.8 1.2 8.4 8.0 7.4]

Cylinders pre processing: [ 4.  8.  6. nan 10. 12.  5.  3.]
Cylinders processing [4.0 8.0 6.0 'Unknown' 10.0 12.0 5.0 3.0]

Speed pre processing: [None '7' '8' '10' '1' '6' '9' '5' '4' '2' nan]
Speed post processing ['Unknown' '7' '8' '10' '1' '6' '9' '5' '4' '2']

Transmission type pre processing: ['Automatic' 'Other' 'Manual' nan]
Transmission type post processing ['Automatic' 'Other' 'Manual' 'Unknown']

In [17]:
data.replace('Unknown', 0, inplace=True)
data = data.drop(columns=['transmission_type', 'transmission', 'id'])
data = data.apply(pd.to_numeric, errors='coerce')

data_test.replace('Unknown', 0, inplace=True)
data_test = data_test.drop(columns=['transmission_type', 'transmission', 'id'])
data_test = data_test.apply(pd.to_numeric, errors='coerce')

C:\Users\tancr\AppData\Local\Temp\ipykernel_15344\2953739124.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data.replace('Unknown', 0, inplace=True)
C:\Users\tancr\AppData\Local\Temp\ipykernel_15344\2953739124.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_test.replace('Unknown', 0, inplace=True)

## Create X_train and y_train

In [18]:
X_train = data.drop(columns=['price'])
y_train = data['price']

X_test = data_test

## Create and evaluate a model

In [25]:
from sklearn.ensemble import RandomForestRegressor

rf_regr = RandomForestRegressor(n_estimators=100)
rf_regr.fit(X_train, y_train)

y_pred1 = rf_regr.predict(X_train)
rmse1 = root_mean_squared_error(y_pred1, y_train)

print(rmse1)

29381.939427062236

In [33]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

rf_regr = RandomForestRegressor()

# Define the hyperparameter grid
param_grid = {
    'n_estimators': [50, 100], # [50, 100, 200],   # Number of trees in the forest
    'max_depth': [None, 10, 20, 30],  # Maximum depth of the tree
    #'min_samples_split': [2, 5, 10],  # Minimum number of samples required to split a node
    #'min_samples_leaf': [1, 2, 4],    # Minimum number of samples required at a leaf node
    #'bootstrap': [True, False]        # Whether bootstrap samples are used when building trees
}

# Initialize GridSearchCV with RandomForestRegressor and param_grid
grid_search = GridSearchCV(estimator=rf_regr, param_grid=param_grid,
                           cv=5, scoring='neg_root_mean_squared_error')

# Fit GridSearchCV
grid_search.fit(X_train, y_train)

# Print the best parameters
print(f"Best parameters found: {grid_search.best_params_}")

# Predict on the training set
y_pred_train = grid_search.predict(X_train)
rmse_train = root_mean_squared_error(y_pred_train, y_train)

# # Predict on the test set
# y_pred_test = grid_search.predict(X_test)
# rmse_test = np.sqrt(root_mean_squared_error(y_test, y_pred_test))

# Print RMSE for both training and test sets
print(f"RMSE on training set: {rmse_train:.2f}")
# print(f"RMSE on test set: {rmse_test:.2f}")

Best parameters found: {'max_depth': 10, 'n_estimators': 100}
RMSE on training set: 58260.43

In [31]:
rf_regr = RandomForestRegressor(n_estimators=50) #, max_depth=10, min_samples_split=10)
rf_regr.fit(X_train, y_train)

y_pred1 = rf_regr.predict(X_train)
rmse1 = root_mean_squared_error(y_pred1, y_train)

print(rmse1)

29935.408484358337